@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

:root {
  --primary-color: hsl(204, 90%, 23%);
  --secondary-color: hsl(277, 27%, 58%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(0, 3%, 72%);
  --bg-color: hsl(210, 86%, 33%);
  --bg-color-1: hsl(279, 82%, 57%);
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:  hsla(210, 90%, 27%, 0.612);
  padding: 0.95em, 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 999;
}

.nav-logo {
  margin-right: 20px;
  padding-left: 90px;
  color: var(--color-white);
  margin-bottom: 5px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 60px;
  gap: 25px;
}

.nav-link {
  color: var(--color-white);
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.5s ease;
  flex: 1;
  text-align: center;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-grey);
  transition: width 0.5s ease;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.nav-link:hover::after {
  background-color: rgb(82, 107, 230);
}

.nav-links li {
  text-align: center;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color:  hsla(210, 86%, 33%, 0.596);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 1;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
  padding-block: 30px;
  border-radius: 8px;
  animation: fadeIn 0.5s;
}

.dropdown-menu li {
  padding: 10px;
  list-style: none;
  text-align: left;
}

.dropdown-menu a {
  color: var(--color-white);
  text-decoration: none;
  transition: color 0.2s;
}

.dropdown-menu a:hover {
  color:  #cbc5c5;
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1; 
  transform: translateY(0px); 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main {
  position: relative;
  width: 100vw;
  height: 60%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  top: 10px;
  bottom: 30px;
}

.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
}

.slider-btn a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.5rem;
}
.item:nth-child(1),
.item:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  border-radius: 0;
  box-shadow: none;
  opacity: 1;
}

.item:nth-child(3) {
  left: 50%;
}

.item:nth-child(4) {
  left: calc(50% + 220px);
}

.item:nth-child(5) {
  left: calc(50% + 440px);
}

.item:nth-child(6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.content-1 {
  width: min(30vw, 400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem 'poppins' sans-serif;
  color: #efebeb;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
}

.content-1 .title {
  text-transform: uppercase;
}

.content-1 .description {
  line-height: 1.7;
  margin: 1rem 0 1.5rem;
  font-size: 0.95rem;
}

.content-1 button {
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: 2px solid rgb(209, 206, 206);
  border-radius: 0.25rem;
  padding: 0.75rem;
  cursor: pointer;
}

.item:nth-of-type(2) .content-1 {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(8px);
    transform: translateY(calc(-50% + 75px));
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;
}

.nav .btn--1 {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.6);
  margin: 0 0.25rem;
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
}

.nav .btn--1:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 651px) and (max-width: 899px) {
  .content-1 .title {
    font-size: 1rem;
  }

   .slider-btn a {
   color: var(--color-white);
    font-size: 1rem;
  }

  .content-1 .description {
    font-size: 0.7rem;
  }

  .content-1 button {
    font-size: 0.7rem;
  }

  .item {
    width: 160px;
    height: 270px;
  }

  .item:nth-child(3) {
    left: 50%;
  }

  .item:nth-child(4) {
    left: calc(50% + 170px);
  }

  .item:nth-child(5) {
    left: calc(50% + 340px);
  }

  .item:nth-child(6) {
    left: calc(50% + 510px);
    opacity: 0;
  }
}

@media (max-width: 649px) {
  .main {
    position: relative;
    width: 100%;
    height: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    top: 10px;
    bottom: 20px;
  }

  .slider-btn a {
   color: var(--color-white);
    font-size: .8rem;
  }
  .content .title {
    font-size: 0.9rem;
  }

  .content-1 .description {
    font-size: 0.65rem;
  }

  .content-1 button {
    font-size: 0.6rem;
  }

  .item {
    width: 130px;
    height: 220px;
  }

  .item:nth-child(3) {
    left: 50%;
  }

  .item:nth-child(4) {
    left: calc(50% + 140px);
  }

  .item:nth-child(5) {
    left: calc(50% + 280px);
  }

  .item:nth-child(6) {
    left: calc(50% + 420px);
    opacity: 0;
  }
}

/* 
.btn {
  position: relative;
  background-color: var(--primary-color);
  opacity: 0.7;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: var(--color-white);
  overflow: hidden;
  align-self: center;
  justify-self: center;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  background-color: var(--color-grey);
  width: 0;
  height: 0;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 1s, height 1s;
}

.btn:hover::before {
  width: 300px;
  height: 300px;
} */

.btn-1 {
  background-image: linear-gradient(
    -180deg,
    var(--color-grey),
    var(--secondary-color)
  );
  font-size: clamp(0.8rem, 8vw, 0.9rem);
  font-weight: 600;
  color: #fff;
  width: max-content;
  outline: 0;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-top: 26px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s ease-in;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: auto;
}

.btn-1:hover {
  box-shadow: 0 4px 10px rgba(155, 119, 177, 0.402);
  transform: scale(0.98);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  min-height: 100vh;
  background: -webkit-linear-gradient(0deg, hsl(249, 19%, 93%), hsl(249, 19%, 93%));
  top: 10px;
  bottom: 30px;
}

/* Content */

.content {
  padding-left: 120px;
  user-select: none;
  top: 40px;
}

.content h1 {
  font-family: 'poppins';
  font-size: clamp(2.4rem, 3vw, 4rem);
  font-weight: 700;
  color: hsl(0, 3%, 8%);
  line-height: 1.1;
  margin-bottom: 16px;
  padding-left: 5px;
  top: 10px;
  margin-top: 30px;
}

.content h4 {
  font-size: clamp(0.8rem, 4vw, 1.1rem);
  line-height: 1.4;
  padding-right: 180px;
  margin-right: 40px;
  color: hsl(0, 0%, 9%);
}

/* .btn {
  background-color:  hsla(210, 86%, 33%, 0.648);
  background-image: linear-gradient(-180deg, hsla(291, 7%, 81%, 0.897),hsla(210, 86%, 33%, 0.596));
  font-size: clamp(0.8rem, 8vw, 0.9rem);
  font-weight: 600;
  color: #fff;
  width: max-content;
  outline: 0;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-top: 26px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s ease-in;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: auto;
}

.btn:hover {
  box-shadow: 0 4px 10px  hsl(210, 86%, 33%);
  transform: scale(0.98);
} */

/* Stacked Cards */

.stack {
  position: relative;
  height: 60vh;
  top: 10px;
  bottom: 10px;
}

.card {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 950px;
  height: 500px;
  /* border-radius: 2rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25),
    0 5px 10px 0 rgba(0, 0, 0, 0.027);
  transition: transform 0.6s; */
  user-select: none;
}


.card img {
  display: block;
  width: 85%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  margin-left: 60px;
}

/* .card:nth-last-child(n + 5) {
  --x: calc(-50% + 90px);
  transform: translate(var(--x), -50%) scale(0.85);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.01);
}

.card:nth-last-child(4) {
  --x: calc(-50% + 60px);
  transform: translate(var(--x), -50%) scale(0.9);
}

.card:nth-last-child(3) {
  --x: calc(-50% + 30px);
  transform: translate(var(--x), -50%) scale(0.95);
}

.card:nth-last-child(2) {
  --x: calc(-50%);
  transform: translate(var(--x), -50%) scale(1);
} */

.card:nth-last-child(1) {
  --x: calc(-50% - 30px);
  transform: translate(var(--x), -50%) scale(1.05);
}

/* .card:nth-last-child(1) img {
  box-shadow: 0 1px 5px 5px rgba(67, 121, 238, 0.5);
} */

/* .swap {
  animation: swap 1.3s ease-out forwards;
} */

/* @keyframes swap {
  30% {
    transform: translate(calc(var(--x) - 250px), -50%) scale(0.85) rotate(-5deg) rotateY(65deg);
  }

  100% {
    transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
    z-index: -1;
  }
} */

/* Media queries for keyframes */

/* @media (max-width: 1200px) {
  @keyframes swap {
    30% {
      transform: translate(calc(var(--x) - 200px), -50%) scale(0.85) rotate(-5deg) rotateY(65deg);
    }

    100% {
      transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
      z-index: -1;
    }
  }
}

@media (max-width: 1050px) {
  @keyframes swap {
    30% {
      transform: translate(calc(var(--x) - 150px), -50%) scale(0.85) rotate(-5deg) rotateY(65deg);
    }

    100% {
      transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
      z-index: -1;
    }
  }
} */

/* Media queries for other classes */

@media (max-width: 1200px) {
  .content {
    padding-left: 80px;
  }

  .content h4 {
    padding-right: 40px;
  }

  .card {
    width: 850px;
    height: 480px;
  }
}

@media (max-width: 1050px) {
  .content {
    padding-left: 60px;
  }

  .content h4 {
    line-height: 1.5;
  }

  .card {
    width: 620px;
    height: 450px;
  }
}

@media (max-width: 990px) {
  .content h4 {
    padding-right: 0;
  }

  .card {
    width: 600px;
    height: 400px;
  }
}

@media (max-width: 950px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 3fr;
    grid-template-areas:
      "stacked"
      "content";
  }

  .content {
    grid-area: content;
    text-align: center;
    padding: 0 90px;
  }
    .content h1 {
      margin-top: 5px;
    }

    .stack {
      margin-bottom: 5px;
    }

  .btn {
    margin-bottom: 30px;
  }

  /* .stack {
    grid-area: stacked;
  } */
}

@media (max-width: 650px) {
  main {
    grid-template-rows: 1fr 1fr;
  }

  .content {
    padding: 0 50px;
    top: 10px;
  }

  .content h1 {
    padding-left: 0;
    margin-top: 3px;
    padding-block: 3px;
  }
  .stack {
    margin-bottom: 3px;
    padding-block: 0;
    margin-left: 20px; 
  }

  /* .btn {
    padding: 8px 16px;
  } */

  .card {
    width: 880px;
    height: 360px;
  }
}
/* Hero Section Styles */

.hero-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  align-items: center;
  color: var(--color-white);
  box-sizing: border-box;
   margin: 0;
  padding-inline: 0;
}

.hero-cards {
  background-color: hsl(260, 13%, 95%);
}

.hero-card .card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-inline: 0;
  padding: 0;
  color: hsl(0, 0%, 2%);
  background-color: rgba(255, 255, 255, 0.881);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: all .8s ease-in-out;
}

.hero-card .card-content:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 20px 30px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.963);
}

.hero-card .image-container {
  width: 50%;
  height: 100%;
  margin-right: 20px;
  max-width: 100%;
}

.hero-card .image-container .accomodate {
  margin-right: 0;
  padding-right: 0;
  max-width: 100%;
}

.hero-card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  max-width: 100%;
}

.hero-card .text-container {
  width: 70%;
  height: 100%;
  margin-left: 15px;
  max-width: 100%;
}

.hero-card .text-container h2 {
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: hsl(0, 0%, 2%);
  text-align: center;

}

 .text-container > h4 {
  font-size: .9rem;
  font-weight: 500;
    color: hsl(0, 0%, 2%);
  margin-bottom: 20px;
  text-align: left;
  line-height: 2;
}

.hero-card .text-container .tab-button {
  background-color:  hsla(210, 93%, 22%, 0.795);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 8px;
}

.hero-card .text-container .tab-button a {
  color: #fff;
}
.hero-card .text-container .tab-button:hover {
  background-color: hsl(216, 70%, 31%);
}

/* Reverse the order of image and text for the second card */

.hero-card[data-category="real-estate"] .card-content {
  flex-direction: row;
}
.hero-card[data-category="accommodation"] .card-content {
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
  width: 100%;
}

.hero-card[data-category="accommodation"] .image-container img {
  float: right;
}

/* Reverse the order of image and text for the third card */
.hero-card[data-category="logistics"] .card-content {
  flex-direction: row;
}

/* Partners */
.partners {
  background-color: hsl(0, 0%, 97%);
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.partner-heading {
  font-family: "poppins";
  font-size: clamp(1.3rem, 3.5vw, 5.5rem);
  font-weight: 700;
  background: -webkit-linear-gradient(
    0deg,
    hsla(223, 89%, 37%, 0.854),
    hsla(0, 0%, 100%, 0.963)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.partners-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.partner-slide {
  display: inline-flex;
  justify-content: center;
  margin: 10px;
}

.partner-icon {
  font-size: 30px;
  color: #337ab7;
  margin: 15px;
}

.partner-icon:hover {
  color: var(--primary-color);
}

/* Add animation to move the icons from right to left */
.partners-container {
  animation: moveIcons 30s forwards;
  animation-iteration-count: infinite;
}

@keyframes moveIcons {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Project Gallery */
.project-gallery {
  background-color:  hsl(260, 13%, 95%);
  padding-block: 20px;
  padding-inline: 20px;
}

.project-gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project-gallery-item {
  position: relative;
  overflow: hidden;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.project-gallery-heading {
  font-family: "poppins";
  /* font-size: clamp(1.5rem, 3vw, rem); */
  font-weight: 900;
  background: -webkit-linear-gradient(
    0deg,
    rgb(245, 247, 249),
    hsla(210, 86%, 33%, 0.781)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.project-gallery-item h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #fff;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.project-gallery-item .gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.project-gallery-item .gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 10px;
}

.project-gallery-item:hover .overlay {
  opacity: 1;
}

.view-more {
  color: #fff;
  font-size: 24px;
  transition: color 0.5s ease;
}

.view-more:hover {
  color: #fff;
}

.view-more i {
  transition: transform 0.5s ease;
}

.view-more:hover i {
  transform: translateX(5px);
}

/* Testimonials */
.testimonials {
  padding: 20px;
  background-color:hsl(260, 13%, 95%);
}

.testimonials .title {
  font-family: cursive;
  font-size: clamp(1.5rem, 3vw, 5rem);
  font-weight: 700;
  background: -webkit-linear-gradient(
    0deg,
    rgb(22, 132, 206),
    hsl(227, 77%, 45%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 15px;
}

.testimonial-card {
  display: flex;
  align-items: center;
  padding: 25px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial-image {
  margin-right: 20px;
}

.testimonial-image img {
  border-radius: 50%;
}

.testimonial-content {
  flex: 1;
  color: hsl(0, 0%, 17%);
}

.testimonial-content .name {
  font-weight: 700;
  margin-bottom: 10px;
}

.testimonial-content p {
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 1rem;
  text-wrap: wrap;
}

.rating {
  color: hsl(51, 100%, 50%);
}

.rating i {
  margin-right: 5px;
  font-size: 0.9rem;
}

.page .swiper-pagination {
  position: relative;
  margin-top: 50px;
}

/* Bog */
blog {
  padding: 100px 0;
  background-color: #f7f7f7;
}

.blog-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.blog-heading {
  font-size: 36px;
  font-weight: bold;
  color: hsl(0, 0%, 17%);
  text-align: center;
  margin-bottom: 20px;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.blog-post {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 1.5s ease-in-out;
}

.blog-post:hover {
  transform: scale(1.1);
}

.blog-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-content {
  padding: 20px;
}

.blog-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blog-excerpt {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.read-more {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.read-more:hover {
  background-color: #23527c;
}

.load-more {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  font-size: 1.2rem;
}

.load-more:hover {
  background-color: #23527c;
}

/* Contact Section */
.contact {
  padding: 100px 0;
  background-color: hsl(260, 13%, 95%);
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 60px;
}

.contact-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.contact-subheading {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
  text-align: center;
}

.contact-form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-column: 1;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 150px;
  resize: none;
}

.submit-btn {
  background-color: hsla(210, 90%, 23%, 0.872);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #23527c;
}

.contact-info {
  margin-top: 5px;
  grid-column: 2;
}

.contact-info-item {
  margin-bottom: 20px;
}

.contact-info-item i {
  font-size: 24px;
  margin-right: 10px;
  color: hsla(208, 90%, 23%, 0.868);
}

.contact-info-address,
.contact-info-phone,
.contact-info-email {
  font-size: 16px;
  color: #666;
}

.contact-info-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-info-address,
.contact-info-phone,
.contact-info-email {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}
/* Footer */
.footer {
  background-color:  hsla(210, 86%, 33%, 0.648);
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left,
.footer-right {
  flex: 1;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.footer p {
  margin-bottom: 0;
}

/* Media queries for keyframes */

/* @media (max-width: 1200px) {
  @keyframes swap {
    30% {
      transform: translate(calc(var(--x) - 200px), -50%) scale(0.85)
        rotate(-5deg) rotateY(65deg);
    }

    100% {
      transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
      z-index: -1;
    }
  }
}

@media (max-width: 1050px) {
  @keyframes swap {
    30% {
      transform: translate(calc(var(--x) - 150px), -50%) scale(0.85)
        rotate(-5deg) rotateY(65deg);
    }

    100% {
      transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
      z-index: -1;
    }
  }
} */

/* Media queries for other classes */

@media (max-width: 1200px) {
  .content {
    padding-left: 90px;
    margin-block: 10px;
  }

  .content h4 {
    padding-right: 80px;
  }

  .card {
    width: 850px;
    height: 450px;
  }
}

@media (max-width: 1050px) {
  .content {
    padding-left: 70px;
    margin-block: 35px;
  }

  .content h4 {
    line-height: 1.5;
  }

  .card {
    width: 750px;
    height: 490px;
    margin-left: 20px;
  }
}

@media (max-width: 990px) {
  .content h4 {
    padding-right: 20px;
  }

  .card {
    width: 600px;
    height: 420px;
    margin-left: 20px;
  }
}

@media (max-width: 950px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 3fr;
    grid-template-areas:
      "stacked"
      "content";
  }

  .content {
    grid-area: content;
    text-align: center;
    padding: 0 90px;
    margin-block: 0;
  }

  .btn-1 {
    margin-bottom: 30px;
  }

  .stack {
    grid-area: stacked;
  }
}

@media (max-width: 650px) {
  main {
    grid-template-rows: 1fr 1fr;
  }

  .content {
    padding: 0 40px;
  }

  .content h1 {
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
  }

  .btn-1 {
    padding: 8px 16px;
  }

  .card {
    width: 680px;
    height: 350px;
    margin-left: 10px;
  }
}

/*Cards Media Queries */

@media (min-width: 768px) {
  /* .hero-cards {
    justify-content: space-between;
  } */
  .hero-card {
    flex-basis: calc(28.33% - 20px);
  }
}

@media (max-width: 768px) {
  .hero-card {
    flex-basis: calc(50% - 20px);
  }

  
}

@media (max-width: 480px) {
  .hero-card {
    flex-basis: 100%;
  }
}

/* Mobile Nav */

/* Show nav-links when nav-toggle is clicked */
.nav-toggle.active + .nav-links {
  display: block;
  transform: translateY(0);
}

/* Style the nav-toggle */
.nav-toggle {
  display: none;
}

/* Hide close-nav by default and show it when nav-toggle is clicked */

.nav-toggle #close-nav {
  display: none;
}

.nav-toggle.active #open-nav {
  display: none;
}

.nav-toggle.active #close-nav {
  display: block;
}

/* Mobile Media Query */
@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    line-height: 100px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    background-color: hsla(228, 84%, 40%, 0.676);
    z-index: -999;
    transition: all 1s ease-in-out;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    transition: all 1s ease-in-out;
  }

  .nav-toggle {
    display: block;
    cursor: pointer;
    color: var(--color-white);
    margin-right: 20px;
  }

  .dropdown-menu {
    display: none;
    position: relative;
    background-color: hsla(228, 76%, 50%, 0.489);
    padding: 10px;
    width: 50%;
  }

  .dropdown-menu.show {
    display: block;
  }

  .dropdown-menu li {
    width: 100%;
  }

  .dropdown-menu a {
    width: 100%;
    display: block;
    padding: 10px;
  }
}

/* Media Queries for Project Gallery*/

/* Large screens (desktops) */
@media (min-width: 1200px) {
  .project-gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-gallery-item {
    height: 400px;
  }
  .project-gallery-item h2 {
    font-size: 2rem;
  }
}

/* Medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  .project-gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-gallery-item {
    height: 350px;
  }
  .project-gallery-item h2 {
    font-size: 1.8rem;
  }
}

/* Small screens (mobiles) */
@media (max-width: 767px) {
  .project-gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-gallery-item {
    height: 250px;
  }
  .project-gallery-item h2 {
    font-size: 1.2rem;
  }
}

/* Media Queries for testimonials*/

/* Large screens (desktops) */
@media (min-width: 1200px) {
  .testimonial-card {
    padding: 20px;
  }
  .testimonial-image {
    margin-right: 30px;
  }
  .testimonial-content p {
    font-size: 1rem;
  }
}

/* Medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  .testimonial-card {
    padding: 15px;
  }
  .testimonial-image {
    margin-right: 25px;
  }
  .testimonial-content p {
    font-size: 1rem;
  }
}

/* Small screens (mobiles) */
@media (max-width: 767px) {
  .testimonial-card {
    flex-direction: column;
    padding: 20px;
  }
  .testimonial-image {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .testimonial-content p {
    font-size: 0.9rem;
  }
}

/* Extra small screens (small mobiles) */
@media (max-width: 479px) {
  .testimonial-card {
    padding: 15px;
  }
  .testimonial-image {
    margin-bottom: 15px;
  }
  .testimonial-content p {
    font-size: 0.8rem;
  }
}

/* Media Queries for Partners*/

/* Large screens (desktops) */
@media (min-width: 1200px) {
  .partners-container {
    max-width: 1400px;
  }
  .partner-slide {
    margin: 15px;
  }
  .partner-icon {
    font-size: 45px;
    margin: 20px;
  }
  .partner-icon img {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

/* Medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  .partners-container {
    max-width: 1000px;
  }
  .partner-slide {
    margin: 15px;
  }
  .partner-icon {
    font-size: 32px;
    margin: 15px;
  }
  .partner-icon img {
    width: 95px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

/* Small screens (mobiles) */
@media (max-width: 767px) {
  .partners-container {
    max-width: 600px;
  }
  .partner-slide {
    margin: 10px;
  }
  .partner-icon {
    font-size: 25px;
    margin: 15px;
  }

  .partner-icon img {
    width: 65px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

/* Extra small screens (small mobiles) */
@media (max-width: 479px) {
  .partners-container {
    max-width: 400px;
  }
  .partner-slide {
    margin: 10px;
  }
  .partner-icon {
    font-size: 14px;
    margin: 10px;
    margin-inline: 4px;
  }

  .partner-icon img {
    width: 45px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

/* Media Queries for hero cards */

/* Large screens (desktops) */
@media (min-width: 1200px) {
  .hero-card {
    width: 100%;
    padding: 30px;
    margin: 0;
  }
  .hero-card .image-container {
    width: 60%;
    margin-right: 5px;
  }

  .hero-card .image-container .accomodate {
    width: 60%;
    margin-right: 0;
  }
  .hero-card .text-container {
    width: 40%;
    margin-left: 40px;
  }
  .hero-card .text-container h2 {
    font-size: 1.5rem;
  }
  .hero-card .text-container p {
    font-size: 0.7rem;
  }
}

/* Medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  .hero-card {
    padding: 20px;
  }
  .hero-card .image-container {
    width: 55%;
    margin-right: 15px;
  }
  .hero-card .text-container {
    width: 45%;
    margin-left: 25px;
  }
  .hero-card .text-container h2 {
    font-size: 1.3;
  }
  .hero-card .text-container p {
    font-size: 18px;
  }
}

/* Small screens (mobiles) */
@media (max-width: 767px) {
  .hero-card {
    flex-direction: column;
    padding: 15px;
  }
  .hero-card .image-container {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .hero-card .text-container {
    width: 100%;
    margin-left: 0;
  }
  .hero-card .text-container h2 {
    font-size: 1.1rem;
  }
  .hero-card .text-container p {
    font-size: 16px;
  }
}

/* Extra small screens (small mobiles) */
@media (max-width: 479px) {
  .hero-card {
    padding: 10px;
  }
  .hero-card .image-container {
    margin-bottom: 15px;
  }
  .hero-card .text-container h2 {
    font-size: 1.1rem;
  }
  .hero-card .text-container p {
    font-size: 0.9rem;
  }
}

/* Media Queries for blog */

@media (max-width: 1200px) {
  .blog-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog-post {
    margin-bottom: 20px;
  }
}
/* Large screens (desktops) */
@media (min-width: 1200px) {
  .contact-grid {
    grid-template-columns: 60% 40%;
  }
}

/* Medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  .contact-grid {
    grid-template-columns: 55% 45%;
  }
}

/* Small screens (mobiles) */
@media (max-width: 767px) {
  .contact-grid {
    grid-template-columns: 100%;
  }
  .contact-form,
  .contact-info {
    grid-column: 1;
  }
  .contact-info {
    margin-top: 20px;
  }
}

/* Extra small screens (small mobiles) */
@media (max-width: 479px) {
  .contact-grid {
    grid-template-columns: 100%;
  }
  .contact-form,
  .contact-info {
    grid-column: 1;
  }
  .contact-info {
    margin-top: 20px;
  }
  .contact-heading {
    font-size: 24px;
  }
  .contact-subheading {
    font-size: 14px;
  }
}

/* Make dropdown menu responsive */
@media (max-width: 768px) {
  .dropdown-menu {
    min-width: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 480px) {
  .dropdown-menu {
    font-size: 14px;
    left: 30%;
    transform: translate(-50%, -50);
  }
}

